.nav {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  font-size: 10px;
  background: rgb(205, 205, 205);
  color: rgb(0, 200, 10);
}
.blog {
  border-bottom: 1px solid white;
}
.blog span {
  cursor: pointer;
}
.modal {
  padding: 20px;
  background: rgb(86, 86, 86);
}
